---
http_interactions:
- request:
    method: get
    uri: http://www.copyscape.com/api/?k=test&o=balance&u=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<remaining>\n\t<value>240.51</value>\n\t<total>4810</total>\n\t<today>4810</today>\n</remaining>\n"
  recorded_at: Tue, 25 Aug 2015 21:21:04 GMT
recorded_with: VCR 2.9.3
