---
http_interactions:
- request:
    method: post
    uri: http://www.copyscape.com/api/?a=&e=UTF-8&i=&k=test&o=pindexadd&u=test
    body:
      encoding: UTF-8
      string: Putting some text in our private index.  Fee Fi Fo Fum I smell the blood
        of an englishman
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<response>\n\t<words>18</words>\n\t<handle>SIA_2_E00JOQ0A2W_F0N8GRC4GS</handle>\n\t<id></id>\n\t<title></title>\n</response>\n"
  recorded_at: Wed, 26 Aug 2015 18:40:41 GMT
recorded_with: VCR 2.9.3
